extends ../layout.pug

block content
	include ../nav.pug
	+menu(false, true)
	section.with-footer.profile-section.container-fluid
		.row
			+menu-profile(false, true, false)
			article.col-12.col-md-6.col-lg-9.col-xl-9.user-data-intel
				.container
					.row.justify-content-center
						.title.col-12.col-md-8
							img(src="/public/icons/usuario.svg", alt="Mi usuario")
							h2 Mi Usuario
						form.intel.col-12.col-md-8.data-asegurados
							.form-group.col-12
								label(for="name") Nombre
								input.form-control(type="text", id="name", name="name", value="Rodrigo García", required)
							.form-row.col-12
								.form-group
									label(for="city") Ciudad
									input.form-control(type="city", id="city", name="city", value="CDMX", required)
								.form-group
									label(for="state") Estado
									input.form-control(type="text", id="state", name="state", value="México", required)
							.form-row.col-12
								.form-group
									label(for="birthday") Fecha de Nacimiento
									.input-with-icon
										<svg xmlns="http://www.w3.org/2000/svg" width="20.587" height="22.057" viewBox="0 0 20.587 22.057"><defs></defs><g id="calendario"><g id="Grupo_6" data-name="Grupo 6"><path id="Unión_5" d="M.368 22.057A.367.367 0 0 1 0 21.69V1.838a.367.367 0 0 1 .368-.368h2.573V.368A.367.367 0 0 1 3.309 0h2.573a.367.367 0 0 1 .368.368v1.1h8.088v-1.1A.367.367 0 0 1 14.705 0h2.573a.367.367 0 0 1 .368.368v1.1h2.573a.367.367 0 0 1 .368.368V21.69a.367.367 0 0 1-.368.368zm.368-.735h19.116V6.25H.735zm0-15.808h19.116V2.206h-2.206v1.1a.367.367 0 0 1-.368.368h-2.573a.367.367 0 0 1-.368-.368v-1.1H6.25v1.1a.367.367 0 0 1-.368.368H3.309a.367.367 0 0 1-.368-.368v-1.1H.735zm14.337-3.676v1.1h1.838V.735h-1.838zm-11.4 0v1.1h1.841V.735H3.676zM13.97 19.117H3.309V8.455h13.97v10.662zm0-.736h2.573v-2.573H13.97zm-3.309 0h2.573v-2.573h-2.573zm-3.309 0h2.574v-2.573H7.352zm-3.309 0h2.574v-2.573H4.044zm9.926-3.309h2.573V12.5H13.97zm-3.309 0h2.573V12.5h-2.572zm-3.309 0h2.575V12.5H7.352zm-3.309 0h2.575V12.5H4.044zm9.926-3.309h2.573V9.191H13.97zm-3.309 0h2.573V9.191h-2.571zm-3.309 0h2.576V9.191H7.352zm-3.309 0h2.576V9.191H4.044z" class="cls-1" data-name="Unión 5"></path></g></g></svg>
										input.form-control(type="date", id="birthday", name="birthday", required)
								.form-group
									label(for="gender") Género
									input.form-control(type="text", id="gender", name="gender", value="Masculino", required)
							.form-row.col-12
								.form-group
									label(for="email") Correo
									input.form-control(type="email", id="email", name="email", value="hola@rodrigogarcia.com.mx", required)
								.form-group
									label(for="tel") Teléfono
									input.form-control(type="tel", id="tel", name="tel", value="hola@rodrigogarcia.com.mx", required)
							.form-group.col-12
								label(for="description") Descripción
								input.form-control(type="text", id="description", name="description", value="descripción")
							.form-buttons-holder
								button(type="submit", class="btn login") Actualizar
						hr.col-12.fake-hr
						.title.col-12.col-md-8.small-margin.can-close-object.open(data-target="changePassword")
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></g></svg>
							img(src="/public/icons/ajustes.svg", alt="Contraseña")
							h2 Cambiar Contraseña
						form.intel.col-12.col-md-8.data-asegurados.form-to-hide.open.can-close#changePassword
							.form-group.col-12
								label(for="oldPassword") Contraseña Actual
								input.form-control(type="password", id="oldPassword", name="oldPassword", required)
							.form-row.col-12
								.form-group
									label(for="password") Nueva Contraseña
									input.form-control(type="password", id="password", name="password", required)
								.form-group
									label(for="confirmPassword") Confirmar Contraseña
									input.form-control(type="password", id="confirmPassword", name="confirmPassword", required)
							.form-buttons-holder
								button(type="submit", class="btn login") Actualizar
						hr.col-12.fake-hr
						.title.col-12.col-md-8.small-margin.can-close-object(data-target="cupones")
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></g></svg>
							img(src="/public/icons/cupon.svg", alt="Mis Cupones")
							h2 Mis Cupones
						hr.col-12.fake-hr
						.title.col-12.col-md-8.small-margin.can-close-object(data-target="tarjeta")
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></g></svg>
							img(src="/public/icons/tarjeta.svg", alt="Mi Tarjeta")
							h2 Mi Tarjeta
						hr.col-12.fake-hr
						.title.col-12.col-md-8.small-margin.can-close-object(data-target="regalos")
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path></g></svg>
							img(src="/public/icons/regalos.svg", alt="Mis Regalos")
							h2 Mis Regalos
	include ../footer.pug

block scripts
	script.
		document.addEventListener('DOMContentLoaded', function(){
			PROFILE.canOpen();
			PROFILE.profileMenu();
		});