extends ../layout.pug

block content
	//- Aquí va el contenido HTML de pug
	section.login-screen.container-fluid
		article.login-items.row
			.left-side.col-12.col-md-12.col-lg-6.col-xl-6.data-asegurados
				img.login-logo(src="/public/logos/segurviaje-gris.svg", alt="Segurviaje Logo")
				h1.asegurado-title.my-4 Registro
				form.login-form#login-form(method="POST", action="/registro")
					.form-group.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-8.offset-xl-2
						label(for="email") Correo
						input.form-control(type="email", id="email", name="email", required)
					.form-group.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-8.offset-xl-2
						label(for="name") Nombre(s)
						input.form-control(type="name", id="name", name="name", required)
					.form-group.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-8.offset-xl-2
						label(for="password") Password
						input.form-control(type="password", id="password", name="password", required)
					.form-group.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-8.offset-xl-2
						label(for="confirmPassword") Confirmar Contraseña
						input.form-control(type="confirmPassword", id="confirmPassword", name="confirmPassword", required)
					.form-group.col-12.col-sm-12.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-8.offset-xl-2
						label(for="birthday") Fecha de Nacimiento
						.input-with-icon
							<svg xmlns="http://www.w3.org/2000/svg" width="20.587" height="22.057" viewBox="0 0 20.587 22.057"><defs></defs><g id="calendario"><g id="Grupo_6" data-name="Grupo 6"><path id="Unión_5" d="M.368 22.057A.367.367 0 0 1 0 21.69V1.838a.367.367 0 0 1 .368-.368h2.573V.368A.367.367 0 0 1 3.309 0h2.573a.367.367 0 0 1 .368.368v1.1h8.088v-1.1A.367.367 0 0 1 14.705 0h2.573a.367.367 0 0 1 .368.368v1.1h2.573a.367.367 0 0 1 .368.368V21.69a.367.367 0 0 1-.368.368zm.368-.735h19.116V6.25H.735zm0-15.808h19.116V2.206h-2.206v1.1a.367.367 0 0 1-.368.368h-2.573a.367.367 0 0 1-.368-.368v-1.1H6.25v1.1a.367.367 0 0 1-.368.368H3.309a.367.367 0 0 1-.368-.368v-1.1H.735zm14.337-3.676v1.1h1.838V.735h-1.838zm-11.4 0v1.1h1.841V.735H3.676zM13.97 19.117H3.309V8.455h13.97v10.662zm0-.736h2.573v-2.573H13.97zm-3.309 0h2.573v-2.573h-2.573zm-3.309 0h2.574v-2.573H7.352zm-3.309 0h2.574v-2.573H4.044zm9.926-3.309h2.573V12.5H13.97zm-3.309 0h2.573V12.5h-2.572zm-3.309 0h2.575V12.5H7.352zm-3.309 0h2.575V12.5H4.044zm9.926-3.309h2.573V9.191H13.97zm-3.309 0h2.573V9.191h-2.571zm-3.309 0h2.576V9.191H7.352zm-3.309 0h2.576V9.191H4.044z" class="cls-1" data-name="Unión 5"></path></g></g></svg>
							input.form-control(type="date", id="birthday", name="birthday", required)
					.form-group
						.check-holder
							.form-check
								input.form-check-input(type="checkbox", name="not-promos", id="not-promos", value="true")
								label(for="not-promos") No quiero recibir mensajes promocionales
					.form-buttons-holder
						button.btn.login(type='submit') Iniciar Sesión
				hr.d-block.fake-hr.my-4
				p.register ¿Ya estás registrado? <a href="/">Inicia Sesión</a>
				small.mini Al usar esta app, estás aceptando los Términos y condiciones generales de uso
			.right-side.col-12.col-lg-6.col-xl-6.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block.register-splash