footer.main-footer
	.container
		.row
			.col-12.col-md-12.col-lg-3.footer-logo
				img(src="/public/logos/segurviaje-blanco.svg", alt="Segurviaje")
			.col-12.col-md-4.col-lg-3.footer-column
				p.footer-title Privacidad
				ul.footer-list
					li.menu-item
						a(href="https://asistenciamx.com/politicas-de-privacidad/") Políticas de Privacidad
					li.menu-item
						a(href="https://asistenciamx.com/terminos-y-condiciones/") Términos y Condiciones
					li.menu-item
						a(href="https://asistenciamx.com/condiciones-de-segurviaje/") Condicionado de Segurviaje
			.col-12.col-md-4.col-lg-3.footer-column
				p.footer-title Síguenos
				ul.footer-list
					li.menu-item
						a(href="https://asistenciamx.com/facturacion/") Facturación
					li.menu-item
						a(href="https://asistenciamx.com/comentarios-y-sugerencias/") Comentarios y Sugerencias
					li.menu-item
						a(href="https://asistenciamx.com/faq/") FAQ
				.sociales
					a(href="https://www.facebook.com/segurviajemexico/", target="_blank") <svg xmlns="http://www.w3.org/2000/svg" width="12.722" height="23.53" viewBox="0 0 12.722 23.53"><g id="facebook-logo" transform="translate(-248.048)"><g id="Grupo_1" data-name="Grupo 1" transform="translate(248.048)"><path id="Trazado_4" d="M260.291 0h-3.051c-3.428 0-5.644 2.273-5.644 5.791v2.67h-3.068a.48.48 0 0 0-.48.48v3.869a.48.48 0 0 0 .48.48h3.072v9.761a.48.48 0 0 0 .48.48h4a.48.48 0 0 0 .48-.48v-9.762h3.587a.48.48 0 0 0 .48-.48V8.941a.48.48 0 0 0-.48-.48h-3.588V6.2c0-1.088.259-1.64 1.676-1.64h2.056a.48.48 0 0 0 .48-.48V.485a.48.48 0 0 0-.48-.485z" class="cls-1" data-name="Trazado 4" transform="translate(-248.048)"/></g></g></svg>
					a(href="tel:+525582457813" target="_blank") <svg xmlns="http://www.w3.org/2000/svg" width="24.016" height="24" viewBox="0 0 24.016 24"><g id="receptor-de-telefono" transform="translate(0 -.352)"><g id="Grupo_3" data-name="Grupo 3" transform="translate(0 .351)"><g id="Grupo_2" data-name="Grupo 2"><path id="Trazado_5" d="M24 19.292a1.161 1.161 0 0 1-.356 1.017l-3.381 3.356a1.9 1.9 0 0 1-.6.432 2.469 2.469 0 0 1-.724.229q-.025 0-.153.013t-.33.013a11.72 11.72 0 0 1-1.564-.165 11.875 11.875 0 0 1-2.644-.814 22.194 22.194 0 0 1-3.547-1.945 26.443 26.443 0 0 1-4.22-3.559 27.859 27.859 0 0 1-2.949-3.356 23.911 23.911 0 0 1-1.881-2.962A15.952 15.952 0 0 1 .589 9.084a13.084 13.084 0 0 1-.483-1.906A6.3 6.3 0 0 1 0 5.919q.03-.457.03-.508a2.471 2.471 0 0 1 .229-.725 1.905 1.905 0 0 1 .432-.6L4.072.707a1.12 1.12 0 0 1 .814-.356.948.948 0 0 1 .584.191 1.767 1.767 0 0 1 .432.47l2.72 5.161a1.237 1.237 0 0 1 .127.89 1.585 1.585 0 0 1-.432.814L7.072 9.123a.424.424 0 0 0-.089.165.627.627 0 0 0-.038.191A4.591 4.591 0 0 0 7.4 10.7a11.2 11.2 0 0 0 .941 1.487 16.514 16.514 0 0 0 1.805 2.021 16.84 16.84 0 0 0 2.034 1.818 11.745 11.745 0 0 0 1.487.953 3.953 3.953 0 0 0 .915.369l.318.064a.606.606 0 0 0 .165-.038.425.425 0 0 0 .165-.089l1.449-1.475a1.557 1.557 0 0 1 1.071-.41 1.328 1.328 0 0 1 .686.153h.025l4.907 2.9a1.279 1.279 0 0 1 .632.839z" class="cls-1" data-name="Trazado 5" transform="translate(0 -.351)"/></g></g></g></svg>
					a(href="mailto:cruzga2@mapfre.com") <svg xmlns="http://www.w3.org/2000/svg" width="30.92" height="23.53" viewBox="0 0 30.92 23.53"><g id="sobre" transform="translate(0 -57.75)"><g id="Grupo_11" data-name="Grupo 11" transform="translate(0 57.75)"><g id="Grupo_10" data-name="Grupo 10"><path id="Trazado_20" d="M27.145 57.75H3.781A3.784 3.784 0 0 0 0 61.531V77.5a3.784 3.784 0 0 0 3.781 3.781h23.358A3.784 3.784 0 0 0 30.92 77.5V61.537a3.78 3.78 0 0 0-3.775-3.787zM29.2 77.5a2.056 2.056 0 0 1-2.054 2.054H3.781A2.056 2.056 0 0 1 1.727 77.5V61.537a2.056 2.056 0 0 1 2.054-2.054h23.358a2.056 2.056 0 0 1 2.054 2.054V77.5z" class="cls-1" data-name="Trazado 20" transform="translate(0 -57.75)"/><path id="Trazado_21" d="M71.686 117.2l7.562-6.781a.865.865 0 1 0-1.158-1.286l-10.428 9.36-2.034-1.817c-.006-.006-.013-.013-.013-.019a1.278 1.278 0 0 0-.141-.122l-8.279-7.408a.865.865 0 1 0-1.152 1.292l7.652 6.839-7.62 7.133a.867.867 0 0 0-.038 1.222.884.884 0 0 0 .633.275.866.866 0 0 0 .589-.23l7.735-7.236 2.1 1.875a.861.861 0 0 0 1.152-.006l2.156-1.932 7.69 7.306a.866.866 0 0 0 1.222-.032.867.867 0 0 0-.032-1.222z" class="cls-1" data-name="Trazado 21" transform="translate(-52.186 -105.63)"/></g></g></g></svg>
			.col-12.col-md-4.col-lg-3.footer-column
				p.footer-title Ubícanos
				p Av.Insurgentes Sur 2453, Col. Tizapán San Ángel Del. Álvaro Obregón. C.P. 01090 Ciudad de México
			.col-12.low-footer
				p.copyright © <strong>2019 by MAPFRE Asistencia</strong> Todos los derechos reservados