.sos-container#sos-holder-div
	span.sos-bg
	h3.sos-title S.O.S.
	p.sos-subtitle Asistencia de Emergencia
	.buttons-holder
		.button-call.b-item
			a(href="tel:+525546021320")
				img(src="/public/icons/sos-call.svg", alt="Asistencia por Llamada")
				p Asistencia por Llamada
		.button-whatsapp.b-item
			a(href="https://wa.me/525546021320", target="_blank")
				img(src="/public/icons/sos-whatsapp.svg", alt="Asistencia por WhatsApp")
				p Asistencia por WhatsApp
		.button-messenger.b-item
			a(href="#messenger")
				img(src="/public/icons/sos-messenger.svg", alt="Asistencia por Messenger")
				p Asistencia por Messenger
		.button-video.b-item
			a(href="#video")
				img(src="/public/icons/sos-video.svg", alt="Asistencia por Videollamada")
				p Asistencia por Videollamada
		.button-close.b-item#close-sos
			img(src="/public/icons/sos-close.svg", alt="Cerrar S.O.S.")