@font-face{
	font-family 'Gotham Black'
	src url('/public/fonts/gotham/Gotham-Black.otf')
}
@font-face{
	font-family 'Gotham Bold'
	src url('/public/fonts/gotham/Gotham-Bold.otf')
}
@font-face{
	font-family 'Gotham Book'
	src url('/public/fonts/gotham/Gotham-Book.otf')
}
@font-face{
	font-family 'Gotham Light'
	src url('/public/fonts/gotham/Gotham-Light.otf')
}
@font-face{
	font-family 'Gotham Medium'
	src url('/public/fonts/gotham/Gotham-Medium.otf')
}
@font-face{
	font-family 'Gotham Thin'
	src url('/public/fonts/gotham/Gotham-Thin.otf')
}
@font-face{
	font-family 'Gotham Ultra'
	src url('/public/fonts/gotham/Gotham-Ultra.otf')
}
@font-face{
	font-family 'Gotham XLight'
	src url('/public/fonts/gotham/Gotham-XLight.otf')
}