////////////////
// Color VARS //
////////////////
$c-black = #000
$c-black-2 = #353535
$c-blue = #007bff
$c-gray = #737373
$c-gray-light = #e9e9e9
$c-green = #28a745
$c-red = #da291c
$c-video = #ecebeb
$c-white = #fff
$c-bg-gray = #f3f3f3
$c-form = #aeaeae
$c-yellow = #f5e147
$c-dblue = #1B1376
$c-mblue = #2A2675
//////////////
// Font VARS//
//////////////
$t = 'Gotham Book', sans-serif
$t-xlight = 'Gotham XLight', sans-serif
$t-ultra = 'Gotham Ultra', sans-serif
$t-thin = 'Gotham Thin', sans-serif
$t-light = 'Gotham Light', sans-serif
$t-medium = 'Gotham Medium', sans-serif
$t-bold = 'Gotham Bold', sans-serif
$t-black = 'Gotham Black', sans-serif